.farm_section {
  width: 100%;
  min-height: 100%;
  padding: 0 5% 108px;
  box-sizing: border-box;
  background: #fdffe7;
  overflow: auto;
}

.total_container {
  background-color: #cfb8ff;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  margin-top: 36px;
}

.farm_sec_container {
  border: 2px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  margin-top: 32px;
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }
  .box_container {
    display: flex;
    align-items: center;
  }
}

.token_container {
  background: #f2ffe2;
  padding-top: 24px;
  .rate_change {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-top: 8px;
  }
  .box_container {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;
  }
}

.status_container {
  background: #fff;
  padding: 24px;
  .box_container {
    justify-content: space-between;
    margin-top: 12px;
    gap: 8px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.vesting_container {
  background: #f2ffe2;
  padding: 24px;
  .balance {
    margin-top: 12px;
    font-size: 22px;
    line-height: 27px;
  }
  .box_container {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 12px;
  }
}
